@font-face {
   font-family: Hakan;
   src: url(./../FONTS/Hakan\ Free\ Trial.ttf);
}

@font-face {
   font-family: Secular;
   src: url(./../FONTS/SecularOne-Regular.ttf);
}


*{
   box-sizing: border-box;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

* img{
   width: 300px;
}

body{
   text-decoration: none;
   padding: 0%;
   margin: 0%;
   background-color: blanchedalmond;
}


.topnav .icon {
   display: none;
 }

#wrapper{
   width: 80%;
   margin: auto;
   background-color:chocolate;
}

.topnav {
   overflow: hidden;
   background-color: chocolate;
 }
 
 .topnav a {
   font-family: Secular;
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 .topnav a:hover {
   background-color: black;
   color: white;
 }
 
 .topnav a.active {
   background-color:chocolate;
   color: white;
 }

#hero{
   background-image: url(./../IMAGES/Valletta_Grand_Harbour_Panorama.jpg);
   height: 500px;
   background-repeat: no-repeat;
   background-position: 40%;
   position: relative;
   background-size: cover;
}

#hero div{
   background-color: rgba(199, 151, 78, 0.361);
   border-radius: 30%;
   top: 40%;
   left: 25%;
   position: absolute;
   padding-top: 30px;
   padding-bottom: 30px;
   width: 50%;
   color: white;
   text-align: center;
   font-size: 3em;
   font-family: Hakan;
}

.grid{
   display: grid;
   grid-template-columns: 50% 50%;
}

.title{
   font-size: 2em;
   text-decoration: none;
   text-align: center;
   font-family: Secular;
}

#intro, #history, #sites{
   background-color:tan;}
   

#intro .grid div{
   font-size: 1.5em;
}

section div{
   padding: 4%;;
}

section img{
   width: 90%;
   height: auto;
   margin-left: 5%;
}

.ln{
   text-align: center;
   text-decoration: none;
   display: block;
   transition-duration: 0.2s;
}

.ln:hover{
   text-decoration: underline;
   font-weight: bold;
}

.container:hover{
   background-color: rgb(230, 198, 153);
   border-radius: 10px;
}

.container img{
   border-radius: 10px;
}

.comment{
   text-align: center;
   font-size: 0.75em;
}

.grid2{
   display: grid;
   grid-template-columns: 20% 60% 20%;
}

.grid .texts{
   font-size: 2em;
}

#footer1 img{
   display: block;
   width: 50%;
   margin-top: 10%;
   margin-bottom: 10%;
   float: left;
}

#footer2 a{
   font-family: Secular;
   display: block;
   text-decoration: none;
   transition: 0.2s;
}

#footer2 a:hover{
   text-decoration: underline;
   font-weight: bold;
}

#footer3 img{
   display: block;
   margin-top: 5%;
   margin-bottom: 5%;
   width: 40%;
}

#footer3 p{
   font-family: Secular;
   margin-left: 5%;
}

body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 .topnav {
   overflow: hidden;
   background-color: #333;
 }
 
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 .topnav a.active {
   background-color: chocolate;
   color: white;
 }
 
 .topnav .icon {
   display: none;
 }


 @media only screen and (max-width: 1050px){
   .topnav a:not(:first-child) {display: none;}
   .topnav a.icon {
     float: right;
     display: block;
   }
   .topnav.responsive {position: relative;}
   .topnav.responsive .icon {
     position: absolute;
     right: 0;
     top: 0;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
   .grid{
      grid-template-columns: 100%;
   }

   #wrapper{
      width: 100%;
   }

   #intro embed{
      margin-left: 10%;
   }
}
